// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Block Geomentry
//////////////////////////////////////////////////////

@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin margin-y($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-tb($value, $value2) {
  margin-top: $value;
  margin-bottom: $value2;
}

// Transition
//////////////////////////////////////////////////////

@mixin transition($type, $time) {
  transition: $type $time ease-in-out;
}

// Media
//////////////////////////////////////////////////////
// Breackpoins in scss/utils/_variables.scss

@mixin lg {
  @media only screen and (max-width: $breackpoints__lg) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $breackpoints__md) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $breackpoints__sm) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $breackpoints__mobile) {
    @content;
  }
}

@mixin mobile-sm {
  @media only screen and (max-width: $breackpoints__mobile-sm) {
    @content;
  }
}

@mixin xs {
  @media only screen and (max-width: $breackpoints__xs) {
    @content;
  }
}
