// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Colors
//////////////////////////////////////////////////////

$color__body: #f2f2f2;

$color__white: #ffffff;
$color__black: #000000;
$color__black-mate: #292929;
$color__gray: #999999;

$color__blue: #2753f0;

// Block Appearance
//////////////////////////////////////////////////////

$border-radius: 3px;
$border-radius__comment: 5px;

$shadow__color: rgba(0, 0, 0, 0.05);

// Breackpoints and containers
//////////////////////////////////////////////////////

// Large screen / LG desktop / laptops
$breackpoints__lg: 1407px;

// Medium screen / MD desktop / small screens
$breackpoints__md: 1023px;

// Small screen / SM / tablet
$breackpoints__sm: 767px;

// Small screen / phones
$breackpoints__mobile: 550px;

// Small screen / phones
$breackpoints__mobile-sm: 430px;

// Extra small screen / XS / phone
$breackpoints__xs: 359px;
