// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

$fonts-directroy: '../../fonts/';

$ff__roboto: 'Roboto';
$fw__roboto__bold: 700;
$fw__roboto__regular: 400;

@font-face {
  font-family: $ff__roboto;
  src: url($fonts-directroy + 'roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: $ff__roboto;
  src: url($fonts-directroy + 'roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

// Good line-height
$line-height--base: 1.428571429;

// Font variables
$fz--base: 16px;
$fz__coefficient--h1: 4;
$fz__coefficient--h2: 2;
$fz__coefficient--subheading: 1.125;
$fz__coefficient--small: 0.875;

$fz--h1: round($fz--base * $fz__coefficient--h1); // 64px
$fz--h2: round($fz--base * $fz__coefficient--h2); // 64px
$fz--subheading: round($fz--base * $fz__coefficient--subheading); // 18px
$fz--small: round($fz--base * $fz__coefficient--small); // 14px

$line-height--computed: round($fz--base * $line-height--base);
$line-height--h1: floor($line-height--computed * $fz__coefficient--h1);
$line-height--h2: floor($line-height--computed * $fz__coefficient--h2);
$line-height--subheading: floor($line-height--computed * $fz__coefficient--subheading);
$line-height--small: floor($line-height--computed * $fz__coefficient--small);

// Adaptive
$fz__coefficient--h1-mobile: 2.5;

$fz--h1-mobile: round($fz--base * $fz__coefficient--h1-mobile); // 64px
$line-height--h1-mobile: floor($line-height--computed * $fz__coefficient--h1-mobile);

// Universal Typographic Mixin
//////////////////////////////////////////////////////

@mixin text($fz, $fw) {
  font-size: $fz;
  font-weight: $fw;

  @if $fz==$fz--h1-mobile {
    line-height: $line-height--h1-mobile;
  }

  @if $fz==$fz--h1 {
    line-height: $line-height--h1;
  }

  @if $fz==$fz--h2 {
    line-height: $line-height--h2;
  } @else if $fz==$fz--subheading {
    line-height: $line-height--subheading;
  } @else if $fz==$fz--small {
    line-height: $line-height--small;
  } @else {
    line-height: $fz;
  }
}

// Base Typographic
//////////////////////////////////////////////////////
